@charset "utf-8";

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "encabezados";
    src: url(/Fonts/PlayfairDisplay-SemiBold.woff);
}

@font-face {
    font-family: "textos";
    src: url(/Fonts/Lato-Regular.woff);
}

body{
    font-family: "textos";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "encabezados";
}

